# System and IDE temp files
.DS_Store
.settings
.project
*.sublime-project
*.sublime-workspace
.buildpath

# PHP settings
php.ini

# Backup files
*_seg*
*.gz

# Cache and logs
/cache/*
/pdf/lib/fonts/log.htm

# Images
xml/fotos/*.jpg
xml/fotos/*.jpeg
xml/fotos_profes/*.jpg
xml/fotos_profes/*.jpeg

# Temp files
xml/jefe/TIC/*.txt
xml/primaria/*.txt
*.txt
*.xml
*.csv

# Configuration files
/config.php
/config_datos.php
/admin/departamento/actas/config.php
/admin/evaluaciones/config.php
/admin/guardias/config.php
/admin/fechorias/config.php
/admin/matriculas/config.php
/admin/jefatura/index_prof.php
/admin/jefatura/insertar_prof.php
/calendario/config.php

# Testing folder
/pruebas/*
prueba*.php

# Others
xml/alumnado/*
